@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    .container {
      height: 6398px;
      background: linear-gradient(
        153.26deg,
        #cb292f 30.98%,
        rgba(245, 130, 32, 0.82) 44.88%
      );

      header {
        padding: 37px 41px 0 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_item {
          border: inherit;
          &:nth-of-type(1) {
            width: 172px;
            height: 49px;
          }
          &:nth-of-type(2) {
            border: inherit;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: center;

            .header_item_li {
              border: inherit;
              display: flex;
              align-items: center;
              gap: 9px;
              justify-content: center;
              text-decoration: none;
              span {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                color: #ffffff;
              }
              svg {
                vertical-align: middle;
              }
            }
          }
        }
        a.header_item {
          padding: 10px 21px;
          background: #ffffff;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          text-decoration: none;

          img {
            width: 24px;
            height: 24px;
          }
          span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            color: #c51f25;
          }
        }
        @media screen and (max-width: 1280px) {
          .header_item:nth-of-type(2) {
            display: none;
          }
        }
        @media screen and (max-width: 630px) {
          padding: 37px 10px 0;
        }
        @media screen and (max-width: 400px) {
          .header_item {
            &:nth-of-type(1) {
              width: initial;
            }
          }
          a.header_item {
            width: initial;
            span {
              display: none;
            }
          }
        }
      }
      main {
        .section_one {
          padding-left: 80px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: inherit;
          padding-top: 78px;

          .section_one_title {
            width: 50%;
            border: inherit;
            h5 {
              font-family: "Lato";
              font-style: normal;
              font-weight: 900;
              font-size: 19px;
              line-height: 14px;
              color: #f2c94c;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 25px;
            }
            h1 {
              margin-top: 14px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 700;
              font-size: 70px;
              line-height: 80px;
              letter-spacing: 1px;
              color: #ffffff;

              @media screen and (max-width: 1420px) {
                font-size: 50px;
              }
              @media screen and (max-width: 1050px) {
                font-size: 30px;
                line-height: 50px;
              }
            }
            p {
              margin-top: 18px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.5px;
              color: #ffffff;
              margin-bottom: 41px;

              &:last-of-type {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 14px;
                letter-spacing: 0.5px;
                color: #ffffff;
                mix-blend-mode: normal;
                margin-bottom: 30px;

                a {
                  font-weight: 400;
                  text-decoration: none;
                  color: rgba(242, 201, 76, 1);

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
            .section_one_title_form {
              position: relative;
              padding: 27px;

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                background: linear-gradient(
                  98.14deg,
                  rgba(245, 130, 32, 0.6075) 40.08%,
                  rgba(242, 201, 76, 0.81) 74.95%
                );
                filter: blur(9.28896px);
                border-radius: 18.5779px;
              }
              .section_one_title_form_item {
                z-index: 2;
                position: relative;
                h3 {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 20.4357px;
                  line-height: 25px;
                  color: #ffffff;
                }
                form {
                  margin-top: 42px;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 19px;

                  @media screen and (max-width: 1420px) {
                    width: 100%;
                    display: grid;
                    grid-template-areas:
                      "label1 label2"
                      "label3 label3";

                    label {
                      &:nth-of-type(1) {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        grid-area: label1;
                      }
                      &:nth-of-type(2) {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        grid-area: label2;
                      }
                    }
                    input {
                      grid-area: label3;
                    }
                  }

                  @media screen and (max-width: 1000px) {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    grid-template-areas:
                      "label1"
                      "label2"
                      "label3";
                    justify-content: initial;
                    align-items: initial;
                  }

                  label {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13.0045px;
                    line-height: 16px;
                    color: #ffffff;
                    display: grid;
                    gap: 10px;
                    position: relative;

                    &::after {
                      content: "";
                      width: 8px;
                      height: 8px;
                      position: absolute;
                      left: 85%;
                      top: 65%;
                      background: #bbbfc7;
                      border-radius: 50%;
                    }

                    input {
                      padding: 12px 18px;
                      background: #ffffff;
                      border: 0.928896px solid #e3e3e3;
                      border-radius: 18.5779px;
                      outline: none;

                      &::placeholder {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13.0045px;
                        line-height: 17px;
                        color: #bbbfc7;
                      }
                    }
                  }
                  .btn {
                    padding: 11px 70px;
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14.8623px;
                    line-height: 18px;
                    text-align: center;
                    color: #ffffff;
                    background: rgba(245, 130, 32, 0.74);
                    border-radius: 18.5779px;
                    border: none;
                    align-self: flex-end;
                    cursor: pointer;

                    @media screen and (max-width: 1000px) {
                      align-self: initial;
                    }
                  }
                }
              }
            }
            .section_one_title_market {
              display: flex;
              gap: 39px;
            }
          }
          .section_one_hero {
            width: 50%;
            border: inherit;
            img {
              width: 100%;
              height: 100%;
            }
          }
          @media screen and (max-width: 1000px) {
            flex-direction: column;
            padding: 78px 0 0 0;

            .section_one_title {
              width: 80%;
            }
            .section_one_hero {
              width: 100%;
            }
          }
          @media screen and (max-width: 600px) {
            .section_one_title {
              h5 {
                font-size: 16px;
                line-height: 25px;
              }
            }
          }
          @media screen and (max-width: 500px) {
            .section_one_title {
              h1 {
                font-size: 22px;
                line-height: 30px;
                margin-top: 30px;
              }
              .section_one_title_form {
                .section_one_title_form_item {
                  h3 {
                    font-size: 18px;
                  }
                }
              }
              .section_one_title_market {
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
              }
            }
          }
        }
        .section_two {
          background-color: #fff;
          padding: 40px 0 0 80px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .section_two_item {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            h3 {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 700;
              font-size: 34px;
              line-height: 130%;
              color: rgba(237, 28, 36, 0.98);
              span {
                color: rgba(245, 130, 32, 0.88);
              }
            }
            h5 {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 30px;
              color: #ee7d00;
              margin-top: 21px;
            }
            p {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 19px;
              line-height: 30px;
              color: #000000;
              margin-top: 13px;
            }
            a {
              padding: 14px 46px;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 18px;
              color: #ffffff;
              background: #e87536;
              border-radius: 32px;
              margin-top: 18px;
              text-decoration: none;
              display: inline-block;
            }
          }

          @media screen and (max-width: 1000px) {
            grid-template-columns: 1fr;
            padding: 40px 10px;

            .section_two_item {
              h3 {
                font-size: 22px;
              }
              h5 {
                font-size: 20px;
              }
              p {
                font-size: 16px;
              }
              a {
                font-size: 16px;
              }
            }
          }
        }
        .section_three {
          padding: 49px 0 0 93px;
          position: relative;
          background-color: #fff;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -94px;
            width: 233px;
            height: 234px;
            background: linear-gradient(
              194.7deg,
              rgba(245, 130, 32, 0.294) 18.97%,
              rgba(237, 28, 36, 0.35) 71.56%
            );
            filter: blur(45px);
          }

          h2 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 130%;
            text-align: center;
            color: rgba(237, 28, 36, 0.98);

            span {
              color: rgba(245, 130, 32, 1);
            }
          }
          .section_three_row {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
            margin-top: 57px;
            align-items: center;
            justify-items: center;

            .section_three_row_col {
              border: inherit;
              h3 {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 130%;
                text-align: center;
                color: #f58220;
              }
              p {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 130%;
                text-align: center;
                color: #000000;
                margin-top: 20px;
              }
              a {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 130%;
                text-align: center;
                color: #065e92;
                text-decoration: none;
                margin-top: 9px;
                display: inline-block;
              }
            }
          }
          @media screen and (max-width: 1020px) {
            padding: 49px 10px;

            h2 {
              font-size: 22px;
            }

            .section_three_row {
              width: 100%;

              .section_three_row_col {
                h3 {
                  font-size: 22px;
                }
                p {
                  font-size: 16px;
                }
                a {
                  font-size: 16px;
                }
              }
            }
          }

          @media screen and (max-width: 870px) {
            .section_three_row {
              width: 80%;
              margin: auto;
              margin-top: 57px;
              grid-template-columns: 1fr;
              gap: 20px;
              .section_three_row_col {
                &:nth-of-type(1) {
                  order: 1;
                }
                &:nth-of-type(2) {
                  order: 2;
                }
                &:nth-of-type(3) {
                  order: 4;
                }
                &:nth-of-type(4) {
                  order: 3;
                }
                &:nth-of-type(5) {
                  order: 5;
                }
                &:nth-of-type(6) {
                  order: 6;
                }
                &:nth-of-type(7) {
                  order: 8;
                }
                &:nth-of-type(8) {
                  order: 7;
                }
              }
            }
          }
          @media screen and (max-width: 500px) {
            padding: 49px 0 0 0;
            .section_three_row {
              width: 100%;
            }
          }
          @media screen and (max-width: 450px) {
            .section_three_row {
              .section_three_row_col {
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
        .section_four {
          background-color: #fff;
          padding-left: 85px;
          padding-top: 107px;

          h2 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 130%;
            text-align: center;
            color: rgba(237, 28, 36, 0.98);

            span {
              color: rgba(245, 130, 32, 1);
            }
          }
          p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 130%;
            text-align: center;
            color: #000000;
            margin-top: 11px;
          }
          .section_four_row {
            border: inherit;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-top: 24px;
            text-align: center;
            gap: 70px;
            .section_four_row_col {
              border: inherit;

              h3 {
                margin-top: 7px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #f58220;
              }
              p {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #000000;
              }
            }
          }
          @media screen and (max-width: 1050px) {
            padding: 107px 10px 0;

            .section_four_row {
              gap: 30px;
            }
          }
          @media screen and (max-width: 1020px) {
            h2 {
              font-size: 22px;
            }
            p {
              font-size: 16px;
            }
          }
          @media screen and (max-width: 1000px) {
            .section_four_row {
              grid-template-columns: repeat(2, 1fr);
            }
          }
          @media screen and (max-width: 600px) {
            .section_four_row {
              grid-template-columns: 1fr;
            }
          }
        }
        .section_five {
          padding: 62px 97px 0 126px;
          background-color: #fff;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -94px;
            width: 233px;
            height: 234px;
            background: linear-gradient(
              194.7deg,
              rgba(245, 130, 32, 0.294) 18.97%,
              rgba(237, 28, 36, 0.35) 71.56%
            );
            filter: blur(45px);
          }

          h2 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 130%;
            text-align: center;
            color: rgba(237, 28, 36, 0.98);

            span {
              color: rgba(245, 130, 32, 1);
            }
          }
          p {
            margin-top: 7px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 130%;
            text-align: center;
            color: #000000;
          }
          .section_five_row {
            border: inherit;
            margin-top: 82px;
            display: grid;
            gap: 100px;
            grid-template-columns: 0.35fr 0.65fr;

            .section_five_row_col {
              &:nth-of-type(1) {
                text-align: left;
                h3 {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 36px;
                  line-height: 44px;
                  color: #f58220;
                }
                p {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 19px;
                  color: #000000;
                  margin-top: 24px;
                  text-align: left;
                }
                a {
                  padding: 14px 45px;
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 18px;
                  color: #ffffff;
                  background: #e87536;
                  border-radius: 32px;
                  margin-top: 24px;
                  display: inline-block;
                  text-decoration: none;

                  &:hover {
                    background-color: #e87436e0;
                  }
                }
              }
              &:nth-of-type(2) {
                .section_five_row_col_item {
                  display: grid;
                  grid-template-columns: 0.1fr 1fr;
                  gap: 12.25px;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: 26px;

                  .num {
                    width: 62px;
                    height: 62px;
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 21.3284px;
                    line-height: 26px;
                    text-align: justify;
                    color: #ffffff;
                    background: #e87536;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                  p {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: justify;
                    color: rgba(0, 0, 0, 1);

                    span {
                      padding: 0;
                      font-family: "Montserrat";
                      background-color: transparent;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 20px;
                      line-height: 24px;
                      text-align: justify;
                      color: rgba(237, 28, 36, 0.98);
                    }
                  }
                }
              }
            }
          }
          @media screen and (max-width: 1435px) {
            .section_five_row {
              .section_five_row_col {
                &:nth-of-type(1) {
                  h3 {
                    font-size: 26px;
                  }
                  a {
                    font-size: 16px;
                  }
                }
              }
            }
          }
          @media screen and (max-width: 1375px) {
            .section_five_row {
              justify-content: center;
              grid-template-columns: 1fr;

              .section_five_row_col {
                &:nth-of-type(1) {
                  text-align: center;
                  p {
                    text-align: center;
                  }
                }
              }
            }
          }
          @media screen and (max-width: 1020px) {
            padding: 62px 10px 0;

            .section_five_row {
              gap: 20px;
            }
            h2 {
              font-size: 22px;
            }
            p {
              font-size: 16px;
            }
          }
          @media screen and (max-width: 712px) {
            padding: 62px 0 0 0;
          }
          @media screen and (max-width: 400px) {
            .section_five_row {
              .section_five_row_col {
                &:nth-of-type(1) {
                  h3 {
                    font-size: 22px;
                    line-height: 30px;
                  }
                }
                &:nth-of-type(2) {
                  .section_five_row_col_item {
                    justify-items: center;
                    grid-template-columns: 1fr;
                    padding: 0 10px;
                  }
                }
              }
            }
          }
        }
        .section_six {
          padding: 40px 0 0 126px;
          background-color: #fff;
          display: grid;
          grid-template-columns: 0.1fr 0.9fr;
          justify-content: space-between;

          .section_six_item {
            border: inherit;
            &:nth-of-type(1) {
              display: grid;
              gap: 46px;
              .section_six_item_block {
                &:not(:last-of-type) {
                  max-width: 335px;
                  background: #ffffff;
                  border: 4px solid rgba(151, 151, 151, 0.33);
                  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                  border-radius: 20px;
                  padding: 14px 26px;
                }
              }
            }
            &:nth-of-type(2) {
              padding: 44px 38px;
              background: linear-gradient(
                184.72deg,
                rgba(245, 130, 32, 0.74) 10.06%,
                rgba(237, 28, 36, 0.88) 49.33%
              );
              border-radius: 20px 0px 0px 20px;

              h2 {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 37px;
                color: #ffffff;
              }

              form {
                p {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 19px;
                  line-height: 23px;
                  color: #ffffff;
                  margin-top: 30px;
                }
                .section_six_item_inp {
                  &:nth-of-type(1),
                  &:nth-of-type(2) {
                    margin-top: 42px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 60px;
                    input {
                      background: #ffffff;
                      border-radius: 4.36627px;
                      padding: 23px 18px;
                      outline: none;
                      border: none;
                      font-family: "Inter";
                      font-style: normal;
                      font-weight: 500;
                      font-size: 17.4651px;
                      line-height: 21px;
                      color: rgba(0, 0, 0, 0.6);

                      &::placeholder {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17.4651px;
                        line-height: 21px;
                        color: rgba(0, 0, 0, 0.6);
                      }
                    }
                  }
                  &:nth-of-type(3) {
                    margin-top: 39px;

                    span {
                      font-family: "Montserrat";
                      font-style: normal;
                      font-weight: 700;
                      font-size: 19.6482px;
                      line-height: 24px;
                      color: #ffffff;
                      display: inline-block;

                      &:nth-of-type(2) {
                        margin-top: 22.16px;
                      }
                    }
                    > input {
                      width: 100%;
                      padding: 23px 24px;
                      font-family: "Inter";
                      font-style: normal;
                      font-weight: 500;
                      font-size: 17.4651px;
                      line-height: 21px;
                      color: rgba(0, 0, 0, 0.6);
                      background: #ffffff;
                      border-radius: 4.36627px;
                      outline: none;
                      border: none;
                      margin-top: 16.34px;

                      &::placeholder {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17.4651px;
                        line-height: 21px;
                        color: rgba(0, 0, 0, 0.6);
                      }
                    }
                    .section_six_item_inp_item {
                      display: grid;
                      grid-template-columns: 1fr 1fr 0.3fr 1fr 1fr;
                      gap: 17px;
                      justify-content: center;
                      align-items: center;
                      justify-items: center;
                      margin-top: 16px;

                      span {
                        display: inline-block;
                      }

                      input {
                        width: 100%;
                        background: #ffffff;
                        border-radius: 4.36627px;
                        outline: none;
                        border: none;
                        padding: 23px 24px;
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17.4651px;
                        line-height: 21px;
                        color: rgba(0, 0, 0, 0.6);

                        &::placeholder {
                          font-family: "Inter";
                          font-style: normal;
                          font-weight: 500;
                          font-size: 17.4651px;
                          line-height: 21px;
                          color: rgba(0, 0, 0, 0.6);
                        }
                      }
                    }
                    ol {
                      margin-top: 30.45px;
                      list-style-position: inside;
                      li {
                        font-family: "Montserrat";
                        font-style: italic;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 21px;
                        color: #ffffff;
                      }
                    }
                    a {
                      display: block;
                      margin-top: 26px;
                      background: #ff585f;
                      border-radius: 40px;
                      padding: 18px 0;
                      text-align: center;
                      font-family: "Inter";
                      font-style: normal;
                      font-weight: 700;
                      font-size: 20px;
                      line-height: 24px;
                      color: #ffffff;
                      text-decoration: none;

                      &:hover {
                        background-color: #ff586092;
                      }
                    }
                  }
                }
              }
            }
          }
          @media screen and (max-width: 1230px) {
            padding: 40px 10px 0;
          }
          @media screen and (max-width: 1120px) {
            grid-template-columns: 1fr;
            text-align: center;
            justify-items: center;

            .section_six_item:nth-of-type(1)
              .section_six_item_block:not(:last-of-type) {
              max-width: 100%;
              padding: 40px 24px;
              ul {
                list-style-position: inside;
              }
            }
            .section_six_item:nth-of-type(1) {
              width: 100%;
            }
          }
          @media screen and (max-width: 712px) {
            padding: 40px 0 0 0;

            .section_six_item {
              &:nth-of-type(2) {
                padding: 44px 10px;
                h2 {
                  font-size: 22px;
                }
                form {
                  p {
                    font-size: 16px;
                  }
                  .section_six_item_inp {
                    &:nth-of-type(1),
                    &:nth-of-type(2) {
                      grid-template-columns: 1fr;
                      input {
                        font-size: 16px;

                        &::placeholder {
                          font-size: 16px;
                        }
                      }
                    }
                    &:nth-of-type(3) {
                      span {
                        font-size: 16px;
                      }
                      input {
                        font-size: 16px;

                        &::placeholder {
                          font-size: 16px;
                        }
                      }
                      ol {
                        li {
                          font-size: 16px;
                        }
                      }
                      a {
                        font-size: 16px;
                      }
                      .section_six_item_inp_item {
                        grid-template-columns: 1fr;
                      }
                    }
                  }
                }
              }
            }
          }
          @media screen and (max-width: 415px) {
            .section_six_item:nth-of-type(1) {
              width: initial;
              .section_six_item_block:not(:last-of-type) {
                max-width: initial;
                width: initial;
                padding: 30px 0px;

                ul {
                  li {
                    white-space: wrap;
                  }
                }
              }
              .section_six_item_block:last-of-type {
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
        .setion_seven {
          padding: 94px 126px 40px 126px;
          background-color: #fff;

          h2 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 130%;
            text-align: center;
            color: rgba(237, 28, 36, 0.98);

            span {
              color: rgba(232, 117, 54, 1);
            }
          }
          > p {
            margin-top: 10px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 28px;
            text-align: center;
            color: #000000;
          }
          .setion_seven_row {
            margin-top: 46px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 59px;
            position: relative;

            &::before {
              content: url("../img/q1.png");
              position: absolute;
              top: -5px;
              left: -20px;
            }
            &::after {
              content: url("../img/q2.png");
              position: absolute;
              bottom: -10px;
              right: -20px;
            }

            .setion_seven_row_col {
              background: linear-gradient(
                180deg,
                rgba(237, 28, 36, 0.77) 0%,
                rgba(245, 130, 32, 0.74) 100%
              );
              border-radius: 16px;
              padding: 32px 24px;
              display: grid;
              align-content: space-between;
              gap: 28px;

              > p {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 600;
                font-size: 13.5px;
                line-height: 16px;
                color: #ffffff;
                text-align: left;
              }
              .section_seven_row_col_item {
                p {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 20px;
                  color: #ffffff;
                }
                h4 {
                  margin-top: 16px;
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 20px;
                  color: #ffffff;
                }
                img {
                  width: 56px;
                  height: 56px;
                }
              }
            }
          }
          @media screen and (max-width: 1550px) {
            .setion_seven_row {
              grid-template-columns: repeat(2, 1fr);
            }
          }
          @media screen and (max-width: 990px) {
            padding: 94px 0 40px;
            .setion_seven_row {
              grid-template-columns: 1fr;
            }
          }
          @media screen and (max-width: 700px) {
            .setion_seven_row {
              &::after,
              &::before {
                content: "";
                display: none;
              }
            }
          }
        }
        .section_eight {
          padding: 41px 75px 0 73px;
          background-color: #fff;

          h3 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 130%;
            text-align: center;
            color: rgba(237, 28, 36, 0.98);

            span {
              color: rgba(245, 130, 32, 1);
            }
          }
          .section_eight_row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 94px;
            margin-bottom: 55px;

            .section_eight_row_col {
              background: #ffffff;
              border: 4px solid rgba(151, 151, 151, 0.33);
              box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 20px;
              padding: 0;
              margin-top: 40px;

              img {
                width: 100%;
                height: 221px;
                object-fit: cover;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
              }
              .section_eight_row_col_title {
                padding: 19px 23px 33px 23px;
                h4 {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 130%;
                  color: #f58220;
                }
                p {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 13px;
                  line-height: 130%;
                  color: #000000;
                  margin-top: 19px;
                }
                a {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 13px;
                  line-height: 130%;
                  color: #ffffff;
                  padding: 7px 0;
                  text-align: center;
                  display: block;
                  max-width: 186px;
                  background: rgba(245, 130, 32, 0.74);
                  border-radius: 20px;
                  text-decoration: none;
                  margin: auto;
                  margin-top: 31px;
                }
              }
            }
          }
          .section_eight_controls {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 106px;
            margin: auto;
            justify-content: center;
            justify-items: center;

            .section_eight_controls_col {
              width: 10px;
              height: 10px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: #979797;

              &:nth-of-type(1) {
                background: #f58220;
              }
            }
          }
          @media screen and (max-width: 1300px) {
            .section_eight_row {
              grid-template-columns: repeat(2, 1fr);
            }
          }
          @media screen and (max-width: 990px) {
            .section_eight_row {
              grid-template-columns: 1fr;
            }
          }
          @media screen and (max-width: 1020px) {
            padding: 41px 0 0 0;
            h3 {
              font-size: 22px;
            }
            .section_eight_row {
              gap: 30px;
            }
          }
        }
        .section_nine {
          padding: 86px 113px;
          background-color: #fff;

          h3 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 130%;
            text-align: center;
            color: rgba(237, 28, 36, 0.98);

            span {
              color: rgba(245, 130, 32, 1);
            }
          }
          .section_nine_row {
            margin-top: 56px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
          }
          @media screen and (max-width: 1220px) {
            padding: 86px 10px;
            .section_nine_row {
              text-align: center;
              grid-template-columns: repeat(2, 1fr);
            }
          }
          @media screen and (max-width: 1020px) {
            h3 {
              font-size: 22px;
            }
          }
          @media screen and (max-width: 600px) {
            .section_nine_row {
              grid-template-columns: 1fr;
            }
          }
          @media screen and (max-width: 712px) {
            padding: 60px 0 0 0;
          }
        }
        .section_ten {
          padding: 75px;
          background-color: #fff;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 20%;
            right: 0px;
            width: 233px;
            height: 234px;
            background: linear-gradient(
              194.7deg,
              rgba(245, 130, 32, 0.294) 18.97%,
              rgba(237, 28, 36, 0.35) 71.56%
            );
            filter: blur(45px);
          }

          h3 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 130%;
            text-align: center;
            color: rgba(237, 28, 36, 0.98);

            span {
              color: rgba(232, 117, 54, 1);
            }
          }
          p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            line-height: 28px;
            text-align: center;
            color: #000000;
          }
          .section_ten_row {
            width: 50%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 80px;
            margin-top: 51px;

            a {
              display: block;
              padding: 27px 0;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 700;
              font-size: 19px;
              line-height: 28px;
              text-align: center;
              color: #e87536;
              text-decoration: none;

              &:nth-of-type(1) {
                border: 4px solid #e87536;
                border-radius: 40px;
              }
              &:nth-of-type(2) {
                background: #e87536;
                border-radius: 40px;
                color: #ffffff;
              }
            }
          }
          @media screen and (max-width: 1100px) {
            padding: 75px 0;
          }
          @media screen and (max-width: 1020px) {
            h3 {
              font-size: 22px;
            }
            p {
              font-size: 16px;
            }
            .section_ten_row {
              width: 100%;
              a {
                padding: 13px 0;
                font-size: 18px;
              }
            }
          }
          @media screen and (max-width: 712px) {
            .section_ten_row {
              grid-template-columns: 1fr;
              a {
                font-size: 16px;
              }
            }
          }
        }
      }

      footer {
        background: linear-gradient(
          128.97deg,
          rgba(237, 28, 36, 0.87) 33.5%,
          rgba(232, 117, 54, 0.81) 72.36%
        );
        .footer_row {
          display: grid;
          grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
          padding: 68px 82px;
          gap: 83px;

          .footer_row_col {
            &:nth-of-type(4) {
              ul {
                width: 70%;
                border-bottom: 1px solid #ffffff;
                padding-bottom: 28px;
              }
              p {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #ffffff;
                margin-top: 65px;
              }
            }
            h4 {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 700;
              font-size: 33px;
              line-height: 40px;
              color: #ffffff;
            }
            p {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 24px;
              color: #ffffff;
              margin-top: 18px;
            }
            form {
              margin-top: 32px;
              width: 100%;
              input {
                width: 100%;
                background: transparent;
                border: none;
                border-bottom: 3px solid #ffffff;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #ffffff;
                padding: 10px 0;
                outline: none;

                &::placeholder {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 20px;
                  line-height: 24px;
                  color: #ffffff;
                }

                &[type="submit"] {
                  width: 60%;
                  margin-top: 40px;
                  background: #ffffff;
                  border-radius: 40px;
                  padding: 13px 0;
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 24px;
                  line-height: 29px;
                  color: rgba(237, 28, 36, 0.98);
                }
              }
            }
            .footer_row_col_app {
              width: 50%;
              margin-top: 53px;
              gap: 39px;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
            }
            ul {
              list-style-type: none;
              li {
                a {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 20px;
                  color: #ffffff;
                  text-decoration: none;
                  margin-top: 10px;
                  display: block;
                }
              }
            }
            h3 {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 29px;
              color: #ffffff;

              &:nth-of-type(2) {
                margin-top: 20px;
              }
            }
            .footer_row_col_social {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              gap: 28px;
              margin-top: 25px;

              a {
                width: 50px;
                height: 50px;
                background-color: #fff;
                border-radius: 50%;
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            .footer_row_col_call {
              width: 50%;
              margin-top: 28px;
              padding: 10px;
              background: #ffffff;
              border-radius: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 12px;
              text-decoration: none;

              span {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                color: #c51f25;
              }
            }
          }
        }
        @media screen and (max-width: 1250px) {
          .footer_row {
            grid-template-columns: repeat(3, 1fr);
          }
        }
        @media screen and (max-width: 900px) {
          .footer_row {
            padding: 68px 10px;
            grid-template-columns: repeat(2, 1fr);
          }
        }
        @media screen and (max-width: 740px) {
          .footer_row {
            grid-template-columns: 1fr;
          }
        }
        @media screen and (max-width: 712px) {
          .footer_row_col {
            &:nth-of-type(1) {
              h4 {
                font-size: 22px;
              }
              p {
                font-size: 16px;
              }
              form {
                input {
                  font-size: 16px;
                  &::placeholder {
                    font-size: 16px;
                  }
                  &[type="submit"] {
                    font-size: 16px;
                  }
                }
              }
              .footer_row_col_app {
                width: 100%;
                grid-template-columns: 1fr;
              }
            }
            &:nth-of-type(4) {
              .footer_row_col_social {
                width: 70%;
                justify-items: center;
                align-items: center;
                grid-template-columns: repeat(2, 1fr);
              }
              .footer_row_col_call {
                span {
                  font-size: 16px;
                }
              }
            }
          }
        }
        @media screen and (max-width: 350px) {
          .footer_row {
            .footer_row_col {
              &:nth-of-type(4) {
                .footer_row_col_social {
                  width: 100%;
                  justify-items: flex-start;
                  // grid-template-columns: 1fr;
                }
              }
            }
          }
        }
      }

      @media screen and (min-width: 1920px) {
        width: 1920px;
        margin: auto;
      }
      @media screen and (max-width: 300px) {
        width: 300px;
      }
    }
  }
}
