@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body .container {
  height: 6398px;
  background: linear-gradient(153.26deg, #cb292f 30.98%, rgba(245, 130, 32, 0.82) 44.88%);
}
* body .container header {
  padding: 37px 41px 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
* body .container header .header_item {
  border: inherit;
}
* body .container header .header_item:nth-of-type(1) {
  width: 172px;
  height: 49px;
}
* body .container header .header_item:nth-of-type(2) {
  border: inherit;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}
* body .container header .header_item:nth-of-type(2) .header_item_li {
  border: inherit;
  display: flex;
  align-items: center;
  gap: 9px;
  justify-content: center;
  text-decoration: none;
}
* body .container header .header_item:nth-of-type(2) .header_item_li span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
* body .container header .header_item:nth-of-type(2) .header_item_li svg {
  vertical-align: middle;
}
* body .container header a.header_item {
  padding: 10px 21px;
  background: #ffffff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}
* body .container header a.header_item img {
  width: 24px;
  height: 24px;
}
* body .container header a.header_item span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #c51f25;
}
@media screen and (max-width: 1280px) {
  * body .container header .header_item:nth-of-type(2) {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  * body .container header {
    padding: 37px 10px 0;
  }
}
@media screen and (max-width: 400px) {
  * body .container header .header_item:nth-of-type(1) {
    width: initial;
  }
  * body .container header a.header_item {
    width: initial;
  }
  * body .container header a.header_item span {
    display: none;
  }
}
* body .container main .section_one {
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: inherit;
  padding-top: 78px;
}
* body .container main .section_one .section_one_title {
  width: 50%;
  border: inherit;
}
* body .container main .section_one .section_one_title h5 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 14px;
  color: #f2c94c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}
* body .container main .section_one .section_one_title h1 {
  margin-top: 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: 1px;
  color: #ffffff;
}
@media screen and (max-width: 1420px) {
  * body .container main .section_one .section_one_title h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1050px) {
  * body .container main .section_one .section_one_title h1 {
    font-size: 30px;
    line-height: 50px;
  }
}
* body .container main .section_one .section_one_title p {
  margin-top: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 41px;
}
* body .container main .section_one .section_one_title p:last-of-type {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #ffffff;
  mix-blend-mode: normal;
  margin-bottom: 30px;
}
* body .container main .section_one .section_one_title p:last-of-type a {
  font-weight: 400;
  text-decoration: none;
  color: rgb(242, 201, 76);
}
* body .container main .section_one .section_one_title p:last-of-type a:hover {
  text-decoration: underline;
}
* body .container main .section_one .section_one_title .section_one_title_form {
  position: relative;
  padding: 27px;
}
* body .container main .section_one .section_one_title .section_one_title_form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(98.14deg, rgba(245, 130, 32, 0.6075) 40.08%, rgba(242, 201, 76, 0.81) 74.95%);
  filter: blur(9.28896px);
  border-radius: 18.5779px;
}
* body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item {
  z-index: 2;
  position: relative;
}
* body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20.4357px;
  line-height: 25px;
  color: #ffffff;
}
* body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form {
  margin-top: 42px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 19px;
}
@media screen and (max-width: 1420px) {
  * body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form {
    width: 100%;
    display: grid;
    grid-template-areas: "label1 label2" "label3 label3";
  }
  * body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form label:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: label1;
  }
  * body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form label:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: label2;
  }
  * body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form input {
    grid-area: label3;
  }
}
@media screen and (max-width: 1000px) {
  * body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-template-areas: "label1" "label2" "label3";
    justify-content: initial;
    align-items: initial;
  }
}
* body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13.0045px;
  line-height: 16px;
  color: #ffffff;
  display: grid;
  gap: 10px;
  position: relative;
}
* body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form label::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 85%;
  top: 65%;
  background: #bbbfc7;
  border-radius: 50%;
}
* body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form label input {
  padding: 12px 18px;
  background: #ffffff;
  border: 0.928896px solid #e3e3e3;
  border-radius: 18.5779px;
  outline: none;
}
* body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form label input::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.0045px;
  line-height: 17px;
  color: #bbbfc7;
}
* body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form label input:-ms-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.0045px;
  line-height: 17px;
  color: #bbbfc7;
}
* body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form label input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.0045px;
  line-height: 17px;
  color: #bbbfc7;
}
* body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form .btn {
  padding: 11px 70px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14.8623px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background: rgba(245, 130, 32, 0.74);
  border-radius: 18.5779px;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  * body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item form .btn {
    align-self: initial;
  }
}
* body .container main .section_one .section_one_title .section_one_title_market {
  display: flex;
  gap: 39px;
}
* body .container main .section_one .section_one_hero {
  width: 50%;
  border: inherit;
}
* body .container main .section_one .section_one_hero img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  * body .container main .section_one {
    flex-direction: column;
    padding: 78px 0 0 0;
  }
  * body .container main .section_one .section_one_title {
    width: 80%;
  }
  * body .container main .section_one .section_one_hero {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  * body .container main .section_one .section_one_title h5 {
    font-size: 16px;
    line-height: 25px;
  }
}
@media screen and (max-width: 500px) {
  * body .container main .section_one .section_one_title h1 {
    font-size: 22px;
    line-height: 30px;
    margin-top: 30px;
  }
  * body .container main .section_one .section_one_title .section_one_title_form .section_one_title_form_item h3 {
    font-size: 18px;
  }
  * body .container main .section_one .section_one_title .section_one_title_market {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
* body .container main .section_two {
  background-color: #fff;
  padding: 40px 0 0 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
* body .container main .section_two .section_two_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* body .container main .section_two .section_two_item h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  color: rgba(237, 28, 36, 0.98);
}
* body .container main .section_two .section_two_item h3 span {
  color: rgba(245, 130, 32, 0.88);
}
* body .container main .section_two .section_two_item h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #ee7d00;
  margin-top: 21px;
}
* body .container main .section_two .section_two_item p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  margin-top: 13px;
}
* body .container main .section_two .section_two_item a {
  padding: 14px 46px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  color: #ffffff;
  background: #e87536;
  border-radius: 32px;
  margin-top: 18px;
  text-decoration: none;
  display: inline-block;
}
@media screen and (max-width: 1000px) {
  * body .container main .section_two {
    grid-template-columns: 1fr;
    padding: 40px 10px;
  }
  * body .container main .section_two .section_two_item h3 {
    font-size: 22px;
  }
  * body .container main .section_two .section_two_item h5 {
    font-size: 20px;
  }
  * body .container main .section_two .section_two_item p {
    font-size: 16px;
  }
  * body .container main .section_two .section_two_item a {
    font-size: 16px;
  }
}
* body .container main .section_three {
  padding: 49px 0 0 93px;
  position: relative;
  background-color: #fff;
}
* body .container main .section_three::before {
  content: "";
  position: absolute;
  top: 0;
  left: -94px;
  width: 233px;
  height: 234px;
  background: linear-gradient(194.7deg, rgba(245, 130, 32, 0.294) 18.97%, rgba(237, 28, 36, 0.35) 71.56%);
  filter: blur(45px);
}
* body .container main .section_three h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: rgba(237, 28, 36, 0.98);
}
* body .container main .section_three h2 span {
  color: rgb(245, 130, 32);
}
* body .container main .section_three .section_three_row {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-top: 57px;
  align-items: center;
  justify-items: center;
}
* body .container main .section_three .section_three_row .section_three_row_col {
  border: inherit;
}
* body .container main .section_three .section_three_row .section_three_row_col h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #f58220;
}
* body .container main .section_three .section_three_row .section_three_row_col p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}
* body .container main .section_three .section_three_row .section_three_row_col a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #065e92;
  text-decoration: none;
  margin-top: 9px;
  display: inline-block;
}
@media screen and (max-width: 1020px) {
  * body .container main .section_three {
    padding: 49px 10px;
  }
  * body .container main .section_three h2 {
    font-size: 22px;
  }
  * body .container main .section_three .section_three_row {
    width: 100%;
  }
  * body .container main .section_three .section_three_row .section_three_row_col h3 {
    font-size: 22px;
  }
  * body .container main .section_three .section_three_row .section_three_row_col p {
    font-size: 16px;
  }
  * body .container main .section_three .section_three_row .section_three_row_col a {
    font-size: 16px;
  }
}
@media screen and (max-width: 870px) {
  * body .container main .section_three .section_three_row {
    width: 80%;
    margin: auto;
    margin-top: 57px;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  * body .container main .section_three .section_three_row .section_three_row_col:nth-of-type(1) {
    order: 1;
  }
  * body .container main .section_three .section_three_row .section_three_row_col:nth-of-type(2) {
    order: 2;
  }
  * body .container main .section_three .section_three_row .section_three_row_col:nth-of-type(3) {
    order: 4;
  }
  * body .container main .section_three .section_three_row .section_three_row_col:nth-of-type(4) {
    order: 3;
  }
  * body .container main .section_three .section_three_row .section_three_row_col:nth-of-type(5) {
    order: 5;
  }
  * body .container main .section_three .section_three_row .section_three_row_col:nth-of-type(6) {
    order: 6;
  }
  * body .container main .section_three .section_three_row .section_three_row_col:nth-of-type(7) {
    order: 8;
  }
  * body .container main .section_three .section_three_row .section_three_row_col:nth-of-type(8) {
    order: 7;
  }
}
@media screen and (max-width: 500px) {
  * body .container main .section_three {
    padding: 49px 0 0 0;
  }
  * body .container main .section_three .section_three_row {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  * body .container main .section_three .section_three_row .section_three_row_col img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
* body .container main .section_four {
  background-color: #fff;
  padding-left: 85px;
  padding-top: 107px;
}
* body .container main .section_four h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: rgba(237, 28, 36, 0.98);
}
* body .container main .section_four h2 span {
  color: rgb(245, 130, 32);
}
* body .container main .section_four p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-top: 11px;
}
* body .container main .section_four .section_four_row {
  border: inherit;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 24px;
  text-align: center;
  gap: 70px;
}
* body .container main .section_four .section_four_row .section_four_row_col {
  border: inherit;
}
* body .container main .section_four .section_four_row .section_four_row_col h3 {
  margin-top: 7px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f58220;
}
* body .container main .section_four .section_four_row .section_four_row_col p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 1050px) {
  * body .container main .section_four {
    padding: 107px 10px 0;
  }
  * body .container main .section_four .section_four_row {
    gap: 30px;
  }
}
@media screen and (max-width: 1020px) {
  * body .container main .section_four h2 {
    font-size: 22px;
  }
  * body .container main .section_four p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  * body .container main .section_four .section_four_row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  * body .container main .section_four .section_four_row {
    grid-template-columns: 1fr;
  }
}
* body .container main .section_five {
  padding: 62px 97px 0 126px;
  background-color: #fff;
  position: relative;
}
* body .container main .section_five::before {
  content: "";
  position: absolute;
  top: 0;
  left: -94px;
  width: 233px;
  height: 234px;
  background: linear-gradient(194.7deg, rgba(245, 130, 32, 0.294) 18.97%, rgba(237, 28, 36, 0.35) 71.56%);
  filter: blur(45px);
}
* body .container main .section_five h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: rgba(237, 28, 36, 0.98);
}
* body .container main .section_five h2 span {
  color: rgb(245, 130, 32);
}
* body .container main .section_five p {
  margin-top: 7px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
* body .container main .section_five .section_five_row {
  border: inherit;
  margin-top: 82px;
  display: grid;
  gap: 100px;
  grid-template-columns: 0.35fr 0.65fr;
}
* body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(1) {
  text-align: left;
}
* body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(1) h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #f58220;
}
* body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(1) p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-top: 24px;
  text-align: left;
}
* body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(1) a {
  padding: 14px 45px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  color: #ffffff;
  background: #e87536;
  border-radius: 32px;
  margin-top: 24px;
  display: inline-block;
  text-decoration: none;
}
* body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(1) a:hover {
  background-color: rgba(232, 116, 54, 0.8784313725);
}
* body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(2) .section_five_row_col_item {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 12.25px;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}
* body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(2) .section_five_row_col_item .num {
  width: 62px;
  height: 62px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21.3284px;
  line-height: 26px;
  text-align: justify;
  color: #ffffff;
  background: #e87536;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(2) .section_five_row_col_item p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  color: rgb(0, 0, 0);
}
* body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(2) .section_five_row_col_item p span {
  padding: 0;
  font-family: "Montserrat";
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  color: rgba(237, 28, 36, 0.98);
}
@media screen and (max-width: 1435px) {
  * body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(1) h3 {
    font-size: 26px;
  }
  * body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(1) a {
    font-size: 16px;
  }
}
@media screen and (max-width: 1375px) {
  * body .container main .section_five .section_five_row {
    justify-content: center;
    grid-template-columns: 1fr;
  }
  * body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(1) {
    text-align: center;
  }
  * body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(1) p {
    text-align: center;
  }
}
@media screen and (max-width: 1020px) {
  * body .container main .section_five {
    padding: 62px 10px 0;
  }
  * body .container main .section_five .section_five_row {
    gap: 20px;
  }
  * body .container main .section_five h2 {
    font-size: 22px;
  }
  * body .container main .section_five p {
    font-size: 16px;
  }
}
@media screen and (max-width: 712px) {
  * body .container main .section_five {
    padding: 62px 0 0 0;
  }
}
@media screen and (max-width: 400px) {
  * body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(1) h3 {
    font-size: 22px;
    line-height: 30px;
  }
  * body .container main .section_five .section_five_row .section_five_row_col:nth-of-type(2) .section_five_row_col_item {
    justify-items: center;
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
}
* body .container main .section_six {
  padding: 40px 0 0 126px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  justify-content: space-between;
}
* body .container main .section_six .section_six_item {
  border: inherit;
}
* body .container main .section_six .section_six_item:nth-of-type(1) {
  display: grid;
  gap: 46px;
}
* body .container main .section_six .section_six_item:nth-of-type(1) .section_six_item_block:not(:last-of-type) {
  max-width: 335px;
  background: #ffffff;
  border: 4px solid rgba(151, 151, 151, 0.33);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 14px 26px;
}
* body .container main .section_six .section_six_item:nth-of-type(2) {
  padding: 44px 38px;
  background: linear-gradient(184.72deg, rgba(245, 130, 32, 0.74) 10.06%, rgba(237, 28, 36, 0.88) 49.33%);
  border-radius: 20px 0px 0px 20px;
}
* body .container main .section_six .section_six_item:nth-of-type(2) h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
}
* body .container main .section_six .section_six_item:nth-of-type(2) form p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #ffffff;
  margin-top: 30px;
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(1), * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(2) {
  margin-top: 42px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(1) input, * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(2) input {
  background: #ffffff;
  border-radius: 4.36627px;
  padding: 23px 18px;
  outline: none;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4651px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(1) input::-moz-placeholder, * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(2) input::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4651px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(1) input:-ms-input-placeholder, * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(2) input:-ms-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4651px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(1) input::placeholder, * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(2) input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4651px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) {
  margin-top: 39px;
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 19.6482px;
  line-height: 24px;
  color: #ffffff;
  display: inline-block;
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) span:nth-of-type(2) {
  margin-top: 22.16px;
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) > input {
  width: 100%;
  padding: 23px 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4651px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  background: #ffffff;
  border-radius: 4.36627px;
  outline: none;
  border: none;
  margin-top: 16.34px;
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) > input::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4651px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) > input:-ms-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4651px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) > input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4651px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) .section_six_item_inp_item {
  display: grid;
  grid-template-columns: 1fr 1fr 0.3fr 1fr 1fr;
  gap: 17px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 16px;
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) .section_six_item_inp_item span {
  display: inline-block;
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) .section_six_item_inp_item input {
  width: 100%;
  background: #ffffff;
  border-radius: 4.36627px;
  outline: none;
  border: none;
  padding: 23px 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4651px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) .section_six_item_inp_item input::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4651px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) .section_six_item_inp_item input:-ms-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4651px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) .section_six_item_inp_item input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4651px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) ol {
  margin-top: 30.45px;
  list-style-position: inside;
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) ol li {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) a {
  display: block;
  margin-top: 26px;
  background: #ff585f;
  border-radius: 40px;
  padding: 18px 0;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
* body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) a:hover {
  background-color: rgba(255, 88, 96, 0.5725490196);
}
@media screen and (max-width: 1230px) {
  * body .container main .section_six {
    padding: 40px 10px 0;
  }
}
@media screen and (max-width: 1120px) {
  * body .container main .section_six {
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
  }
  * body .container main .section_six .section_six_item:nth-of-type(1) .section_six_item_block:not(:last-of-type) {
    max-width: 100%;
    padding: 40px 24px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(1) .section_six_item_block:not(:last-of-type) ul {
    list-style-position: inside;
  }
  * body .container main .section_six .section_six_item:nth-of-type(1) {
    width: 100%;
  }
}
@media screen and (max-width: 712px) {
  * body .container main .section_six {
    padding: 40px 0 0 0;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) {
    padding: 44px 10px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) h2 {
    font-size: 22px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form p {
    font-size: 16px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(1), * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(2) {
    grid-template-columns: 1fr;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(1) input, * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(2) input {
    font-size: 16px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(1) input::-moz-placeholder, * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(2) input::-moz-placeholder {
    font-size: 16px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(1) input:-ms-input-placeholder, * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(2) input:-ms-input-placeholder {
    font-size: 16px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(1) input::placeholder, * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(2) input::placeholder {
    font-size: 16px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) span {
    font-size: 16px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) input {
    font-size: 16px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) input::-moz-placeholder {
    font-size: 16px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) input:-ms-input-placeholder {
    font-size: 16px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) input::placeholder {
    font-size: 16px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) ol li {
    font-size: 16px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) a {
    font-size: 16px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(2) form .section_six_item_inp:nth-of-type(3) .section_six_item_inp_item {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 415px) {
  * body .container main .section_six .section_six_item:nth-of-type(1) {
    width: initial;
  }
  * body .container main .section_six .section_six_item:nth-of-type(1) .section_six_item_block:not(:last-of-type) {
    max-width: initial;
    width: initial;
    padding: 30px 0px;
  }
  * body .container main .section_six .section_six_item:nth-of-type(1) .section_six_item_block:not(:last-of-type) ul li {
    white-space: wrap;
  }
  * body .container main .section_six .section_six_item:nth-of-type(1) .section_six_item_block:last-of-type img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
* body .container main .setion_seven {
  padding: 94px 126px 40px 126px;
  background-color: #fff;
}
* body .container main .setion_seven h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: rgba(237, 28, 36, 0.98);
}
* body .container main .setion_seven h2 span {
  color: rgb(232, 117, 54);
}
* body .container main .setion_seven > p {
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
* body .container main .setion_seven .setion_seven_row {
  margin-top: 46px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 59px;
  position: relative;
}
* body .container main .setion_seven .setion_seven_row::before {
  content: url("../img/q1.png");
  position: absolute;
  top: -5px;
  left: -20px;
}
* body .container main .setion_seven .setion_seven_row::after {
  content: url("../img/q2.png");
  position: absolute;
  bottom: -10px;
  right: -20px;
}
* body .container main .setion_seven .setion_seven_row .setion_seven_row_col {
  background: linear-gradient(180deg, rgba(237, 28, 36, 0.77) 0%, rgba(245, 130, 32, 0.74) 100%);
  border-radius: 16px;
  padding: 32px 24px;
  display: grid;
  align-content: space-between;
  gap: 28px;
}
* body .container main .setion_seven .setion_seven_row .setion_seven_row_col > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13.5px;
  line-height: 16px;
  color: #ffffff;
  text-align: left;
}
* body .container main .setion_seven .setion_seven_row .setion_seven_row_col .section_seven_row_col_item p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
* body .container main .setion_seven .setion_seven_row .setion_seven_row_col .section_seven_row_col_item h4 {
  margin-top: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
* body .container main .setion_seven .setion_seven_row .setion_seven_row_col .section_seven_row_col_item img {
  width: 56px;
  height: 56px;
}
@media screen and (max-width: 1550px) {
  * body .container main .setion_seven .setion_seven_row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 990px) {
  * body .container main .setion_seven {
    padding: 94px 0 40px;
  }
  * body .container main .setion_seven .setion_seven_row {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 700px) {
  * body .container main .setion_seven .setion_seven_row::after, * body .container main .setion_seven .setion_seven_row::before {
    content: "";
    display: none;
  }
}
* body .container main .section_eight {
  padding: 41px 75px 0 73px;
  background-color: #fff;
}
* body .container main .section_eight h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: rgba(237, 28, 36, 0.98);
}
* body .container main .section_eight h3 span {
  color: rgb(245, 130, 32);
}
* body .container main .section_eight .section_eight_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 94px;
  margin-bottom: 55px;
}
* body .container main .section_eight .section_eight_row .section_eight_row_col {
  background: #ffffff;
  border: 4px solid rgba(151, 151, 151, 0.33);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 0;
  margin-top: 40px;
}
* body .container main .section_eight .section_eight_row .section_eight_row_col img {
  width: 100%;
  height: 221px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
* body .container main .section_eight .section_eight_row .section_eight_row_col .section_eight_row_col_title {
  padding: 19px 23px 33px 23px;
}
* body .container main .section_eight .section_eight_row .section_eight_row_col .section_eight_row_col_title h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #f58220;
}
* body .container main .section_eight .section_eight_row .section_eight_row_col .section_eight_row_col_title p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #000000;
  margin-top: 19px;
}
* body .container main .section_eight .section_eight_row .section_eight_row_col .section_eight_row_col_title a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 130%;
  color: #ffffff;
  padding: 7px 0;
  text-align: center;
  display: block;
  max-width: 186px;
  background: rgba(245, 130, 32, 0.74);
  border-radius: 20px;
  text-decoration: none;
  margin: auto;
  margin-top: 31px;
}
* body .container main .section_eight .section_eight_controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 106px;
  margin: auto;
  justify-content: center;
  justify-items: center;
}
* body .container main .section_eight .section_eight_controls .section_eight_controls_col {
  width: 10px;
  height: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #979797;
}
* body .container main .section_eight .section_eight_controls .section_eight_controls_col:nth-of-type(1) {
  background: #f58220;
}
@media screen and (max-width: 1300px) {
  * body .container main .section_eight .section_eight_row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 990px) {
  * body .container main .section_eight .section_eight_row {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1020px) {
  * body .container main .section_eight {
    padding: 41px 0 0 0;
  }
  * body .container main .section_eight h3 {
    font-size: 22px;
  }
  * body .container main .section_eight .section_eight_row {
    gap: 30px;
  }
}
* body .container main .section_nine {
  padding: 86px 113px;
  background-color: #fff;
}
* body .container main .section_nine h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: rgba(237, 28, 36, 0.98);
}
* body .container main .section_nine h3 span {
  color: rgb(245, 130, 32);
}
* body .container main .section_nine .section_nine_row {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 1220px) {
  * body .container main .section_nine {
    padding: 86px 10px;
  }
  * body .container main .section_nine .section_nine_row {
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1020px) {
  * body .container main .section_nine h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 600px) {
  * body .container main .section_nine .section_nine_row {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 712px) {
  * body .container main .section_nine {
    padding: 60px 0 0 0;
  }
}
* body .container main .section_ten {
  padding: 75px;
  background-color: #fff;
  position: relative;
}
* body .container main .section_ten::before {
  content: "";
  position: absolute;
  top: 20%;
  right: 0px;
  width: 233px;
  height: 234px;
  background: linear-gradient(194.7deg, rgba(245, 130, 32, 0.294) 18.97%, rgba(237, 28, 36, 0.35) 71.56%);
  filter: blur(45px);
}
* body .container main .section_ten h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: rgba(237, 28, 36, 0.98);
}
* body .container main .section_ten h3 span {
  color: rgb(232, 117, 54);
}
* body .container main .section_ten p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
* body .container main .section_ten .section_ten_row {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  margin-top: 51px;
}
* body .container main .section_ten .section_ten_row a {
  display: block;
  padding: 27px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  color: #e87536;
  text-decoration: none;
}
* body .container main .section_ten .section_ten_row a:nth-of-type(1) {
  border: 4px solid #e87536;
  border-radius: 40px;
}
* body .container main .section_ten .section_ten_row a:nth-of-type(2) {
  background: #e87536;
  border-radius: 40px;
  color: #ffffff;
}
@media screen and (max-width: 1100px) {
  * body .container main .section_ten {
    padding: 75px 0;
  }
}
@media screen and (max-width: 1020px) {
  * body .container main .section_ten h3 {
    font-size: 22px;
  }
  * body .container main .section_ten p {
    font-size: 16px;
  }
  * body .container main .section_ten .section_ten_row {
    width: 100%;
  }
  * body .container main .section_ten .section_ten_row a {
    padding: 13px 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 712px) {
  * body .container main .section_ten .section_ten_row {
    grid-template-columns: 1fr;
  }
  * body .container main .section_ten .section_ten_row a {
    font-size: 16px;
  }
}
* body .container footer {
  background: linear-gradient(128.97deg, rgba(237, 28, 36, 0.87) 33.5%, rgba(232, 117, 54, 0.81) 72.36%);
}
* body .container footer .footer_row {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  padding: 68px 82px;
  gap: 83px;
}
* body .container footer .footer_row .footer_row_col:nth-of-type(4) ul {
  width: 70%;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 28px;
}
* body .container footer .footer_row .footer_row_col:nth-of-type(4) p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 65px;
}
* body .container footer .footer_row .footer_row_col h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  color: #ffffff;
}
* body .container footer .footer_row .footer_row_col p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 18px;
}
* body .container footer .footer_row .footer_row_col form {
  margin-top: 32px;
  width: 100%;
}
* body .container footer .footer_row .footer_row_col form input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 3px solid #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 10px 0;
  outline: none;
}
* body .container footer .footer_row .footer_row_col form input::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
* body .container footer .footer_row .footer_row_col form input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
* body .container footer .footer_row .footer_row_col form input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
* body .container footer .footer_row .footer_row_col form input[type=submit] {
  width: 60%;
  margin-top: 40px;
  background: #ffffff;
  border-radius: 40px;
  padding: 13px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: rgba(237, 28, 36, 0.98);
}
* body .container footer .footer_row .footer_row_col .footer_row_col_app {
  width: 50%;
  margin-top: 53px;
  gap: 39px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
* body .container footer .footer_row .footer_row_col ul {
  list-style-type: none;
}
* body .container footer .footer_row .footer_row_col ul li a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}
* body .container footer .footer_row .footer_row_col h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
* body .container footer .footer_row .footer_row_col h3:nth-of-type(2) {
  margin-top: 20px;
}
* body .container footer .footer_row .footer_row_col .footer_row_col_social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
  margin-top: 25px;
}
* body .container footer .footer_row .footer_row_col .footer_row_col_social a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body .container footer .footer_row .footer_row_col .footer_row_col_call {
  width: 50%;
  margin-top: 28px;
  padding: 10px;
  background: #ffffff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}
* body .container footer .footer_row .footer_row_col .footer_row_col_call span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #c51f25;
}
@media screen and (max-width: 1250px) {
  * body .container footer .footer_row {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 900px) {
  * body .container footer .footer_row {
    padding: 68px 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 740px) {
  * body .container footer .footer_row {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 712px) {
  * body .container footer .footer_row_col:nth-of-type(1) h4 {
    font-size: 22px;
  }
  * body .container footer .footer_row_col:nth-of-type(1) p {
    font-size: 16px;
  }
  * body .container footer .footer_row_col:nth-of-type(1) form input {
    font-size: 16px;
  }
  * body .container footer .footer_row_col:nth-of-type(1) form input::-moz-placeholder {
    font-size: 16px;
  }
  * body .container footer .footer_row_col:nth-of-type(1) form input:-ms-input-placeholder {
    font-size: 16px;
  }
  * body .container footer .footer_row_col:nth-of-type(1) form input::placeholder {
    font-size: 16px;
  }
  * body .container footer .footer_row_col:nth-of-type(1) form input[type=submit] {
    font-size: 16px;
  }
  * body .container footer .footer_row_col:nth-of-type(1) .footer_row_col_app {
    width: 100%;
    grid-template-columns: 1fr;
  }
  * body .container footer .footer_row_col:nth-of-type(4) .footer_row_col_social {
    width: 70%;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  * body .container footer .footer_row_col:nth-of-type(4) .footer_row_col_call span {
    font-size: 16px;
  }
}
@media screen and (max-width: 350px) {
  * body .container footer .footer_row .footer_row_col:nth-of-type(4) .footer_row_col_social {
    width: 100%;
    justify-items: flex-start;
  }
}
@media screen and (min-width: 1920px) {
  * body .container {
    width: 1920px;
    margin: auto;
  }
}
@media screen and (max-width: 300px) {
  * body .container {
    width: 300px;
  }
}/*# sourceMappingURL=style.css.map */